* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9ebee;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #4267b2;
  border-bottom: #29487d;

  h3 {
    color: #ffff;
    font-size: 20px;
  }
}

.container-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.post {
  width: 50%;
  margin-top: 30px;
  background-color: #ffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 30px 0;

  .post-header {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin: 0 20px;

    .container-imgUser {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .imgUser {
        width: 100%;
        min-height: 100%;
      }
    }

    .informations {
      line-height: 1.3;
      margin-left: 10px;

      .name-user {
        font-size: 16px;
        color: #666666;
        font-weight: bold;
      }

      .time-post {
        color: #999999;
        font-size: 14px;
      }
    }
  }

  .post-text {
    margin: 15px 20px 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
  }
}
