/* Colors */
$background: #e9ebee;
$header: #4267b2;
$color-title: #ffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
  font-family: sans-serif;
}

.header {
  background-color: $header;
  color: $color-title;
  padding: 10px 0;
  text-align: center;
}
